.nav {
  /* padding: 25px 30px; */
  background-color: #2c3439;
  color: rgba(141, 141, 141, 0.815);
  font-size: 1.1rem;
}

.navlink {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

.navlink li:hover {
  color: #dbd6cb;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.navlink li.active {
  color: #dbd6cb;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}